---
import Title from "../components/Title";
import Heading from "../components/Heading";
import BoldLayout from "../layouts/BoldLayout.astro";
import FreeTrialButton from "../components/FreeTrialButton";
import HeroImage from "../components/HeroImage";
import Grid from "../components/Grid";
import FeatureCard from "../components/FeatureCard";
import "bootstrap-icons/font/bootstrap-icons.css";
---

<BoldLayout title="SNGR - Songwriter's Next Generation Resource">
  <main class="mt-20">
    <section>
      <div class="ml-10">
        <h1 class="text-[10em] font-bold text-blue-800 leading-[0.8]">FEATURES</h1>
      </div>
      <div class="bg-blue-800">
        <div
          class="h-screen max-w-sm p-6 m-auto sm:max-w-lg md:max-w-2xl lg:max-w-3xl xl:max-w-4xl 2xl:max-w-6xl"
        >
        </div>
      </div>
    </section>
    <section class="mt-[-8em] pb-8">
      <div class="ml-10">
        <h1 class="text-[10em] font-bold text-orange-300 leading-[0.8]">COMMUNITY</h1>
      </div>
      <div class="bg-orange-300">
        <div
          class="h-screen max-w-sm p-6 m-auto sm:max-w-lg md:max-w-2xl lg:max-w-3xl xl:max-w-4xl 2xl:max-w-6xl"
        >
        </div>
      </div>
    </section>
  </main>
</BoldLayout>
