---
import Title from "../components/Title";
import Heading from "../components/Heading";
import PageLayout from "../layouts/PageLayout.astro";
import FreeTrialButton from "../components/FreeTrialButton";
import HeroImage from "../components/HeroImage";
import Grid from "../components/Grid";
import FeatureCard from "../components/FeatureCard";
import Testimonial from "../components/Testimonial";
import "bootstrap-icons/font/bootstrap-icons.css";
import Table from "../components/Table";
import pricingPlansTableData from "../data/pricingPlans";
---

<PageLayout title="SNGR - Songwriter's Next Generation Resource">
  <main
    class="max-w-sm p-6 m-auto bg-orange-100 border-2 border-orange-400 sm:max-w-lg md:max-w-2xl lg:max-w-3xl xl:max-w-4xl 2xl:max-w-6xl"
  >
    <HeroImage
      client:load
      imageUrl="./assets/hero.webp"
      backgroundPosition="bg-[50%_25%]"
    >
      <Title>
        Welcome to the <span
          class="text-2xl font-black text-center text-transparent md:text-3xl lg:text-4xl xl:text-5xl bg-clip-text bg-gradient-to-r from-cyan-500 to-blue-600"
        >
          SNGR
        </span> revolution
      </Title>
      <Heading>
        Unleash Your Creativity with the Songwriter's Next Generation Resource
      </Heading>
      <p class="p-2 text-center rounded-lg bg-orange-100/70">
        SNGR harnesses the power of GPT-4 technology to help you craft original
        songs, generate lyrics, and create captivating melodies.
      </p>
      <div class="flex justify-center mt-4">
        <FreeTrialButton />
      </div>
    </HeroImage>
    <div class="h-6"></div>
    <p class="max-w-prose m-auto p-4 bg-white/50 rounded-lg text-xs md:text-base">
      SNGR is a cutting-edge web application that utilizes the advanced
      capabilities of GPT-4 technology to revolutionize the songwriting process.
      By offering an intuitive platform to help you compose original songs, our
      AI-driven assistant can generate meaningful and memorable lyrics based on
      your input. Moreover, it can recommend captivating melodies that resonate
      with your creative vision. With SNGR by your side, you can unleash your
      full potential as a songwriter and seamlessly transform your ideas into
      fully realized, emotionally impactful musical compositions.
    </p>
    <div class="h-6"></div>
    <Heading>Innovative Features to Fuel Your Creativity</Heading>
    <div class="h-12"></div>
    <div
      class="grid grid-cols-1 grid-rows-4 gap-4 md:grid-rows-2 md:grid-cols-2"
    >
      <FeatureCard
        client:load
        title="AI-Generated Lyrics"
        description="Enter keywords or themes, and let SNGR create unique, tailor-made lyrics for your songs."
        paragraph="SNGR's AI-generated lyrics feature empowers you to create unique and engaging songs by leveraging the power of GPT-4 technology. Simply input keywords or themes, and our intelligent assistant will generate contextually relevant, emotionally resonant, and stylistically diverse lyrics that align with your vision. This innovative approach saves time and effort while sparking creativity, allowing you to focus on refining your ideas and crafting the perfect composition."
        imageUrl="./assets/lyrics.webp"
        linkText="Try it now"
      />
      <FeatureCard
        client:load
        title="Melody & Chord Suggestions"
        description="Discover catchy melodies and chord progressions with our AI-based suggestions, customized to your preferences."
        paragraph="With our AI-based melody and chord suggestions, SNGR makes it easy for you to discover the perfect tune to complement your lyrics. Our intelligent system analyzes your input, preferences, and popular patterns in music to generate catchy melodies and harmonic chord progressions that seamlessly blend with your song's theme and mood. This feature not only simplifies the songwriting process but also inspires you to experiment with new musical ideas and push your creative boundaries."
        imageUrl="./assets/melody.webp"
        linkText="Try it now"
      />
      <FeatureCard
        client:load
        title="Personalized Songwriting"
        description="Fine-tune your creations with our user-friendly editing tools to make your songs truly your own."
        paragraph="SNGR's personalized songwriting feature provides you with a user-friendly interface to fine-tune your creations and make them truly your own. Edit, format, and refine your lyrics, melodies, and chord progressions with ease, ensuring that your songs accurately reflect your unique artistic vision. By giving you full control over the creative process, SNGR enables you to produce polished, professional-quality compositions that resonate with your audience."
        imageUrl="./assets/songwriting.webp"
        linkText="Try it now"
      />
      <FeatureCard
        client:load
        title="Thriving Community"
        description="Connect with fellow songwriters, share your creations, and gain valuable feedback within our vibrant and supportive SNGR community."
        paragraph="SNGR's thriving community feature connects you with fellow songwriters, musicians, and music enthusiasts from around the world. Share your creations, exchange ideas, and gain valuable feedback within a vibrant and supportive environment that fosters collaboration, growth, and learning. By participating in the SNGR community, you can expand your network, refine your skills, and discover new opportunities for artistic expression and collaboration."
        imageUrl="./assets/community.webp"
        linkUrl="/community"
        linkText="Explore"
      />
    </div>
    <div class="h-12"></div>
    <Heading>Trusted by Musicians and Songwriters Worldwide</Heading>
    <div class="h-12"></div>
    <div
      class="grid grid-cols-1 grid-rows-4 gap-4 md:grid-rows-2 md:grid-cols-2"
    >
      <Testimonial
        name="Synthia Darque"
        description="Producer"
        quote="As a DJ, it's crucial to have access to fresh sounds and unique compositions. SNGR's AI-driven platform has helped me discover countless new tracks, giving me an edge in my sets. The community is fantastic, and I've collaborated with some incredible artists. SNGR is a game-changer!"
        imageUrl="./assets/testimonial-dj.webp"
      />
      <Testimonial
        name="Silver Streaks"
        description="Band"
        quote="We've always struggled with writer's block as a band, but SNGR has completely transformed our creative process. The AI-generated lyrics and chord suggestions sparked our inspiration, and the community has been invaluable for feedback and support. SNGR has truly helped us find our sound."
        imageUrl="./assets/testimonial-band.webp"
      />
      <Testimonial
        name="TruGrit"
        description="Lyricist"
        imageUrl="./assets/testimonial-rapper.webp"
        quote="SNGR has been a lifesaver for me as a rapper! The AI-generated lyrics are an excellent starting point when I need a creative boost. The platform has connected me with other talented musicians, and the community vibe is empowering. I can't imagine my career without SNGR now."
      />
      <Testimonial
        name="Harrison Blake"
        description="Instrumentalist"
        imageUrl="./assets/testimonial-bassist.webp"
        quote="As a bassist, finding the right groove and rhythm is essential. SNGR's AI-based melody and chord suggestions have opened up new possibilities for me, allowing me to experiment with different styles and genres. The community is full of inspiration, and I've made some amazing connections. SNGR is a must-have for any musician!"
      />
    </div>
    <div class="h-12"></div>
    <Heading>Choose the Perfect Plan for You</Heading>
    <div class="h-6"></div>
    <p class="max-w-prose m-auto p-4 bg-white/50 rounded-lg text-xs md:text-base">
      At SNGR, we are constantly working to improve and expand our platform to
      provide the best experience for our users. Currently, all features of SNGR
      are available to everyone free of charge. However, as we continue to grow
      and develop our innovative songwriting tools, we plan to introduce paid
      tiers in the future. These paid plans will offer additional features,
      resources, and priority support to further enhance your songwriting
      journey. Rest assured, we remain committed to providing an accessible and
      valuable experience for all users, and we will continue to offer a free
      option that caters to the needs of aspiring songwriters and musicians.
      Stay tuned for updates on our upcoming pricing plans and exciting new
      features!
    </p>
    <div class="h-12"></div>
    <div class="bg-blue-200 border-2 border-blue-300 overflow-auto h-[24em] md:h-[32em]">
      <Table
        headData={pricingPlansTableData.headData}
        bodyData={pricingPlansTableData.bodyData}
      />
    </div>

    <p>
      Ac orci phasellus egestas tellus rutrum tellus. Mauris rhoncus aenean vel
      elit scelerisque. Accumsan tortor posuere ac ut consequat semper viverra
      nam libero. Sociis natoque penatibus et magnis dis parturient. Vestibulum
      sed arcu non odio euismod. Facilisi morbi tempus iaculis urna id volutpat.
      Dui nunc mattis enim ut tellus elementum sagittis. Amet nisl purus in
      mollis nunc sed. Nulla pharetra diam sit amet nisl. Erat imperdiet sed
      euismod nisi porta.
    </p>
    <p>
      Libero justo laoreet sit amet cursus sit amet dictum sit. Elementum
      facilisis leo vel fringilla est ullamcorper. In ante metus dictum at
      tempor commodo ullamcorper. Maecenas sed enim ut sem viverra. Accumsan
      tortor posuere ac ut consequat semper viverra. Aenean euismod elementum
      nisi quis eleifend. Aliquam ultrices sagittis orci a scelerisque. Eleifend
      donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum.
      Facilisi nullam vehicula ipsum a arcu. Aliquam vestibulum morbi blandit
      cursus risus at. Scelerisque in dictum non consectetur a erat nam at. Vel
      facilisis volutpat est velit egestas dui id ornare arcu. Et ligula
      ullamcorper malesuada proin libero nunc consequat interdum. Donec enim
      diam vulputate ut pharetra sit amet. Quisque id diam vel quam elementum
      pulvinar etiam. Metus dictum at tempor commodo ullamcorper a lacus
      vestibulum sed. Malesuada bibendum arcu vitae elementum curabitur vitae
      nunc.
    </p>
  </main>
</PageLayout>
