---
import Title from "../components/Title";
import Heading from "../components/Heading";
import PageLayout from "../layouts/PageLayout.astro";
import FreeTrialButton from "../components/FreeTrialButton";
import HeroImage from "../components/HeroImage";
import Grid from "../components/Grid";
import FeatureCard from "../components/FeatureCard";
import Testimonial from "../components/Testimonial";
import "bootstrap-icons/font/bootstrap-icons.css";
import Table from "../components/Table";
import pricingPlansTableData from "../data/pricingPlans";
import SongResponse from "../components/SongResponse";
import { Configuration, OpenAIApi } from "openai";

const configuration = new Configuration({
  organization: "org-5fAzexFce62JVb72nbZCzT9U",
  apiKey: import.meta.env.OPENAI_API_KEY,
});
const openai = new OpenAIApi(configuration);
---

<PageLayout title="SNGR - Songwriter's Next Generation Resource">
  <main
    class="max-w-sm p-6 m-auto bg-orange-100 border-2 border-orange-400 sm:max-w-lg md:max-w-2xl lg:max-w-3xl xl:max-w-4xl 2xl:max-w-6xl"
  >
    <HeroImage
      client:load
      imageUrl="./assets/trial.webp"
      backgroundPosition="bg-[50%_25%]"
    >
      <Title>
        <span
          class="text-2xl font-black text-center text-transparent md:text-3xl lg:text-4xl xl:text-5xl bg-clip-text bg-gradient-to-r from-cyan-500 to-blue-600"
        >
          SNGR
        </span>
      </Title>
      <Heading>Experience the Power of SNGR: Try Our Vertical Slice</Heading>
    </HeroImage>
    <div class="h-6"></div>
    <p
      class="p-4 m-auto text-xs bg-blue-100 border-2 border-blue-200 rounded-lg max-w-prose md:text-base"
    >
      We're proud to present a vertical slice that showcases the core
      functionality and potential of SNGR, providing a solid foundation for your
      songwriting journey. Stay tuned for regular updates as we continue to
      expand and enhance the SNGR experience!
    </p>
    <div class="h-6"></div>
    <SongResponse client:load />
  </main>
</PageLayout>
