---
import Header from '../components/Header';
import Footer from '../components/Footer';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-cyan-100">
		<Header client:load/>
		<slot />
		<Footer client:load/>
	</body>
</html>
<style is:global>
	:root {
		--color-success: #4CAF50;

		--color-accent: #9C27B0;
		
		--color-main: #1E88E5;
		--color-main-lighter: #64b7ff;
		--color-main-darker: #0769bf;

		--color-secondary: #FF9F1C;
		
		--color-background: #F5F5F5;
		
		--color-text: #111111;
		
		--gradient-main: linear-gradient(45deg, var(--color-main-darker), var(--color-main-lighter) 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		color: var(--color-text);
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
